@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* Root variables */
:root{
  /* --color-primary: #204979; */
  --btn_back_color: #fffaf5;
  --color-success: #41f1b6;
  --color-warning: #ffe5be;
  --color-white: #707920;
  --color-info-dark: #7d8da1;
  --color-info-light: ;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #ffffff;
  --color-dark-variant: #ffffff;
  --color-graph-title::#707920;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: #1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

}
@media (max-width:991px) {
  .graph{
    grid-template-columns: 1fr;
    height: auto;
  }
  
}
.hide{
  visibility: hidden;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    /* height: 100vh; */
    border: 0;
    list-style: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background: rgb(255, 255, 255);
    color: var(--color-dark );
  }
  
  .wrapper .header{
    z-index: 1;
    background: var(--color-white);
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
  }
  .wrapper .header .header-menu .search {
      flex: 3;
      
      display: flex;
      justify-content: center;
  }
  
  .wrapper .header .header-menu .search input[type=text] {
      border: 2px solid #fff;
      background: #fff;
      padding: 10px;
      color: #fff;
      width: 50%;
  }
  
  .wrapper .header .header-menu .search button {
      width: 40px;
      height: 40px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4ad6523;
  }
  
  .wrapper .header .header-menu .search button img {
      width: 30px;
      height: 30px;
      
  }
  
  
  .wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .wrapper .header .header-menu .title{
    color: #F5CEA7;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .wrapper .header .header-menu .title span{
    color: #4CCEE8;
  }
  
  .wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  
  .wrapper .header .header-menu .sidebar-btn:hover{
    color: #707920;
  }
  
  .wrapper .header .header-menu ul{
    display: flex;
  }
  
  .wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
  }
  
  .wrapper .header .header-menu ul li a:hover{
    background: yellowgreen;
    color: #fff;
  }
  
  .wrapper .sidebar{
    z-index: 1;
    /* background: #fff; */
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
    border-right: inset;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.107);
  }
  
  .wrapper .sidebar .sidebar-menu{
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .wrapper .sidebar .sidebar-menu .profile p{
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #707920;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    /* border-bottom: inset;
    border-width: thin;
    border-color: #eee */
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: yellowgreen;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #fff;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #707920;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: greenyellow;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid #707920;
  }
  
  .wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
  }
  
  .wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
  }
  
  .wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background: url(background.jpg)no-repeat;
    background-size: cover;
    height: 150vh;
    transition: 0.3s;
  }
  
  .wrapper.collapse .sidebar{
    width: 70px;
  }
  
  .wrapper.collapse .sidebar .profile img,
  .wrapper.collapse .sidebar .profile p,
  .wrapper.collapse .sidebar a span{
    display: none;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
    font-size: 23px;
  }
  
  .wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
  }
  
  .wrapper.collapse .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
  }
  
  



/*MAIN CONTAINER CSS*/

.wrapper .main-container main

  {
    color: var(--color-dark-variant);
    margin-top: 1.4rem;
  }
  .wrapper .main-container main .date{
  display: inline-block;
  background: var(--color-light);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 1.6rem;
  }

  .wrapper .main-container main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
  }
 main .sight{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
  }

   main .sight > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    color: val(--color-graph-title);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }

   main .sight > div:hover{
    box-shadow: none;
  }
   main .sight > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: greenyellow;
    font-size: 2rem;
  }


   main .sight > div.person span{
    background: var(--btn_back_color);
  } 

  main .sight > div.persons span{
    background: var(--btn_back_color);
  }

  main .sight > div.tenant span{
    background: var(--btn_back_color);
 }
 
 main .sight > div.tenants span{
  background: var(--btn_back_color);
} 
 /* main .sight > div .income span{
    background: var(--btn_back_color);

  }
  
 main .sight > div .expenditure span{
  background: var(--btn_back_color);
} */
 

   main .sight > div .mid{
    display: flex;
    align-items: center ;
    justify-content: space-between;
  }

main .sight h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
  }

  
 main .sight .gress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
  }

 main .sight svg {
    width: 7rem;
    height: 7rem;

  }

 main .sight .gress .num{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 main .sight small{
  margin-top: 1.3rem;
  display: block;

}





.wrapper .main-container main  .search {
  flex: 3;
  
  display: flex;
  justify-content: center;

}

.wrapper .main-container main  .search input[type=text] {
  border: 2px solid #fff;
  background: rgb(211, 232, 238);
  padding: 10px;
  color: #fff;
  width: 50%;
  

}

.wrapper .main-container main .search button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: greenyellow;
}

.wrapper .main-container main .search button img {
  width: 30px;
  height: 30px;
  
}

.wrapper .main-container main .order{
  margin-top: 2rem;


}
.wrapper .main-container main .order h2{
  margin-bottom: 0.8rem;
  color: var(--color-dark-variant);
}

.wrapper .main-container main .order table{
  background: var(--color-white);
  width: 100%;
  color: var(--color-dark-variant);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.wrapper .main-container main .order table:hover{
  box-shadow: none;
}

.wrapper .main-container main table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}
wraper .main-container main table tbody td .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .main-container main table tbody td .center button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: greenyellow;
    background: #fffaf5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.wrapper .main-container main .popup{
    position: absolute;
    top: 150%;
    z-index: 9;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.wrapper .main-container main .popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: greenyellow;
    color: #000;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;

}
.wrapper .main-container main .popup .form h3{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;

}
.wrapper .main-container main .popup .form .form-element{
   margin: 15px 0px;

}
.wrapper .main-container main table tbody td .popup .form .form-element label{
 font-size: 14px;
 color: #222;
}
.wrapper .main-container main .popup .form .form-element input[type="text"],
.wrapper .main-container main .popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.wrapper .main-container main .popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
 
}
.wrapper .main-container main  .popup .form .form-element a{
 display: block;
 text-align: right;
 font-size: 15px;
 color: 000;

}

.wrapper .main-container main table tbody tr:last-child td{
  border: none;
}

.wrapper .main-container main .order a{
  text-align: center;
  display: block;
  margin: 1rem auto;


}


.right .analysis{
margin-top: 2rem;

}

.right .analysis h2{
  margin-bottom: 0.8rem;

}
.right .analysis .item{
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .analysis .item :hover{
   box-shadow: none;
}

.right .analysis .item .right{
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}

.right .analysis .item .icon{
 padding: 0.6rem;
 color: var(--color-white);
 border-radius: 50%;
 background: var(--color-primary);
 display: flex;

}

.right .analysis .item .offline .icon{
  background: var(--btn_back_color);
}

.right .analysis .item .customer .icon{
  background: var(--color-success);
}











/* GRaphs */
.graph{
  position: relative;
  width: 100%;
  color: var(--color-dark-variant);
  padding: 20px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}
.graph .box{
  position: relative;
  width: 100%;
  color: var(--color-graph-title);
  padding: 20px;
 background: #d8dde3;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}
  .graph1{
    position: relative;
    width: 100%;
    padding: 20px;
    color: var(--color-graph-title);
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  
  }
  .graph1 .box{
    position: relative;
    width: 100%;
    color: var(--color-graph-title);
    padding: 20px;
   background: #fff;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
  

    
}
.graph2{
  position: relative;
  width: 100%;
  padding: 20px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  color: var(--color-dark-variant);

}
.graph2 .cir{
  position: relative;
  width: 100%;
  color: var(--color-dark-variant);
  padding: 20px;
 background: #fff;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}
main .grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
  /* border: 5px solid; */
  margin: auto;
  width: 50%;
  padding: 10px;

}

 main .grid > div{
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  color: var(--color-dark-variant);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

 main .grid > div:hover{
  box-shadow: none;
}
.settings{
  position: relative;
  width: 100%;
  color: var(--color-dark-variant);
  padding: 20px;
  min-height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

}
.upload{
  background: #fff;
  color: #707920;
  box-shadow: 5px 5px 8px  #aaa;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.row{
  width: 90%;

  height: 100px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.left{
  float: left;
}
.col-3{
  position: relative;
  width: 20%;
  top: 40%;
}
.col-9{
  position: relative;
  width: 80%;
  top: 30%;
}

.col-9 input{
  width:100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 40px;
  border: 2px solid #eee;
  font-size: 14px;
}
.col-9 select{
  width:100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 40px;
  background-color: #fff;
  border: 2px solid #eee;
  color: #777 ;
  font-size: 14px;
}
.col-9 textarea{
  width:100%;
  height: 50px;
  border-radius: 5px;
  padding-left: 40px;
  background-color: #fff;
  border: 2px solid #eee;
  color: #777 ;
  font-size: 14px;
  padding-top: 20px;
  height: 100%;
}

