
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
        background: greenyellow;
      
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary {
        background: greenyellow;
    
  }
  
  .btn-primary:hover {
    background-color:#06b305;
  }
  
  .navbar {
    background-color: #f8f9fa;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .nav-link:hover {
        background: greenyellow;
      
  }
  .form-group{
    display: inline-block;
    flex-direction: row;
  }
  .form-control{
    display: inline-block;
  }